body {
    background-color: powderblue;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    text-align: center;
}

summary {
    position: sticky;
    top: 0;
    background-color: lightblue;
    z-index: 1;
    cursor: pointer;
    height: 53px; /* i am discontent with this solution */
}

details>details>summary {
    top: 53px;
    height: revert;
    z-index: 0;
}

summary>h1,
summary>h2,
summary>h3,
summary>h4,
summary>h5,
summary>h6 {
    display: inline-block;
    margin-bottom: 0px;
}

details>ul {
    margin-bottom: 0px;
}

input[type="file"] {
    background-color: LightSteelBlue;
    max-width: 100%
}

.text-entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.right-button {
    position: absolute;
    right: 8px;
    top: 8px;
}

@media (max-width: 500px) {
    .right-button {
        position: static;
        text-align: right;
    }
}

.right-button>input[type="number"] {
    width: 40px;
}

.section,
.section-timeline {
    position: relative;
    padding: 3px;
    background-color: lightblue;
    width: 600px;
    max-width: calc(100% - 8px);
    margin: auto;
    margin-bottom: 5px;
}

.section-timeline {
    width: 900px;
    padding-bottom: 19.92px;
    text-align: left;
}

.timeline-buttons-outer {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 100%;
    visibility: hidden;
}

.timeline-buttons {
    position: sticky;
    top: 8px;
    z-index: 2;
    visibility: visible;
}

.selector {
    text-align: left;
    background-color: LightSteelBlue;
    width: 300px;
    margin: auto;
    margin-bottom: 5px;
    max-width: 100%;
}

.selector>p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.dot {
    position: fixed;
    overflow: hidden;
    bottom: 8px;
    left: 8px;
    z-index: -1;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p {
    text-shadow: 1px 1px 0 #000;
    text-decoration: none;
}

.pn {
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: dotted;
}

abbr {
    cursor: help;
}

.terraria-map {
    background-color: black;
    margin: 10px;
}

.terraria-map-lighting {
    background-color: grey;
}

.horz-follow {
    position: sticky;
    left: 8px;
    width: calc(100vw - 16px);
}