body {
    background-color: powderblue;
    font-family: Comic Sans MS, Comic Sans, sans-serif;
    text-align: center;
}

summary > h1, summary > h2, summary > h3 {
    display: inline-block;
    margin-bottom: 0px;
}

input[type="file"] {
    background-color: LightSteelBlue;
}

.section, .section-timeline {
    padding: 3px;
    background-color: lightblue;
    width: 600px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 5px;
}

.section-timeline {
    width: 900px;
    text-align: left;
}

.selector {
    text-align: left;
    background-color: LightSteelBlue;
    width: 300px;
    margin: auto;
}

.dot {
    position: fixed;
    overflow: hidden;
    bottom: 0px;
    left: 0px;
}