/* 
### general ### 
*/

body {
    background-color: powderblue;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    text-align: center;
}

input[type="file"] {
    background-color: LightSteelBlue;
    max-width: 100%
}

input[type="submit"] {
    min-width: 50%;
    height: 3em;
}

.section,
.section-wide {
    position: relative;
    padding: 3px;
    background-color: lightblue;
    width: 600px;
    max-width: calc(100% - 8px);
    margin: auto;
    margin-bottom: 5px;
}

.section-wide {
    width: 900px;
    padding-bottom: 19.92px;
    text-align: left;
}

.selector {
    text-align: left;
    background-color: LightSteelBlue;
    width: fit-content;
    max-width: 100%;
    margin: auto;
    margin-bottom: 5px;
    padding-right: 8px;
}

.selector>p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.dot {
    position: fixed;
    overflow: hidden;
    bottom: 8px;
    left: 8px;
    z-index: -1;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

abbr {
    cursor: help;
}

.error {
    background-color: salmon;
    margin: 16px;
}

.info {
    background-color: beige;
    margin: 16px;
}

[hidden] {
    display: none !important;
}



/* 
### advancement_timeline ### 
*/

summary {
    position: sticky;
    top: 0;
    background-color: lightblue;
    z-index: 1;
    cursor: pointer;
    height: 53px;
    /* i am discontent with this solution */
}

details>details>summary {
    top: 53px;
    height: revert;
    z-index: 0;
}

summary>h1,
summary>h2,
summary>h3,
summary>h4,
summary>h5,
summary>h6 {
    display: inline-block;
    margin-bottom: 0px;
}

details>ul {
    margin-bottom: 0px;
}

.text-entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.right-button {
    position: absolute;
    right: 8px;
    top: 8px;
}

@media (max-width: 500px) {
    .right-button {
        position: static;
        text-align: right;
    }
}

.right-button>input[type="number"] {
    width: 40px;
}

.timeline-buttons-outer {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 100%;
    visibility: hidden;
}

.timeline-buttons {
    position: sticky;
    top: 8px;
    z-index: 2;
    visibility: visible;
}

.p {
    text-shadow: 1px 1px 0 #000;
    text-decoration: none;
}

.pn {
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: dotted;
}



/* 
### terraria_map ### 
*/

.terraria-map-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.terraria-map-manager,
.terraria-map-footer {
    min-width: 0;
}

.terraria-map-area {
    position: relative;
}

.terraria-map-buttons {
    position: absolute;
    top: 0px;
    left: 0px;
}

.terraria-map-container {
    overflow: scroll;
    width: calc(100vw - 32px);
    height: calc(100vh - 16px);
}

.terraria-map {
    background-color: black;
    image-rendering: pixelated;
}

.terraria-map-lighting {
    background-color: grey;
}

.terraria-map-tileinfo {
    min-height: 3em;
}


@media (min-width: 900px) {
    .terraria-map-grid {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        height: calc(100vh - 16px);
    }

    .terraria-map-manager {
        grid-column: 1;
        grid-row: 1;
    }

    .terraria-map-area {
        grid-column: 2;
        grid-row: 1 / span 2;
        height: calc(100vh - 16px);
        position: sticky;
        top: 0px;
    }

    .terraria-map-footer {
        grid-column: 1;
        grid-row: 2;
    }

    .terraria-map-container {
        width: calc(66vw - 8px);
    }
}


.horz-follow {
    position: sticky;
    left: 8px;
    width: calc(100vw - 16px);
}



/* 
### bepinex_config_to_html ### 
*/

table {
    border-collapse: collapse;
    width: 100%;
}

table tr:nth-child(odd)>*:nth-child(odd):not([colspan]) {
    background-color: LightSteelBlue;
}

table tr:nth-child(even)>*:nth-child(even):not([colspan]) {
    background-color: LightSteelBlue;
}

table tr>th[colspan] {
    background-color: LightSkyBlue;
}



/* 
### youtube_comment ### 
*/

.comment {
    margin: 10px;
    padding: 0px;
}

.comment-header {
    font-size: 0.8rem;
}

.comment-header>h3 {
    display: inline-block;
    margin: 0px;
    margin-right: 4px;
    font-size: 0.8rem;
    font-weight: normal;
}

.comment-header>h3>a {
    color: black;
    text-decoration: none;
}

.comment-body {
    background-color: LightSteelBlue;
    padding: 10px;
}

.comment-body>img {
    height: 1.5rem;
    vertical-align: text-top;
    font-style: italic;
}

.comment-reply,
.comment-livechat {
    font-size: 0.8rem;
}

.comment-livechat {
    color: MediumVioletRed;
}



/*
### customizable_word_game ###
*/
.word-board {
    width: fit-content;
    max-width: calc(100% - 8px);
    margin: auto;
}

.word-row {
    display: flex;
}

.word-tile {
    display: flex;
    background-color: lightsteelblue;
    color: white;
    width: 60px;
    aspect-ratio: 1 / 1;
    margin: 3px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
}

.word-tile[data-state="empty"] {
    border: 4px solid grey;
}

.word-tile[data-state="typing"] {
    border: 4px solid white;
}

.word-tile[data-state="absent"] {
    background-color: #555;
}

.word-tile[data-state="present"] {
    background-color: DarkKhaki;
}

.word-tile[data-state="correct"] {
    background-color: MediumSeaGreen;
}


.word-keyboard {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    position: sticky;
    bottom: 0px;
    background-color: powderblue;
}

.word-keyrow {
    display: flex;
    justify-content: center;
}

.word-key {
    display: flex;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 1em;
    background-color: grey;
    color: white;
    width: 40px;
    height: 50px;
    margin: 3px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex: 1;
}

.word-key:hover {
    background-color: #777;
}

.word-key:active,
.word-key-active {
    background-color: #666;
}

.word-key[data-state="absent"] {
    background-color: #555;
}

.word-key[data-state="absent"]:hover {
    background-color: #444;
}

.word-key[data-state="absent"]:active,
.word-key-active[data-state="absent"] {
    background-color: #333;
}

.word-key[data-state="present"] {
    background-color: DarkKhaki;
}

.word-key[data-state="present"]:hover {
    background-color: #AdA75b;
}

.word-key[data-state="present"]:active,
.word-key-active[data-state="present"] {
    background-color: #9d974b;
}

.word-key[data-state="correct"] {
    background-color: MediumSeaGreen;
}

.word-key[data-state="correct"]:hover {
    background-color: #2cA361;
}

.word-key[data-state="correct"]:active,
.word-key-active[data-state="correct"] {
    background-color: #1c9351;
}

.word-key-wide {
    font-weight: bold;
    flex: 1.5;
}

.word-key-space {
    flex: 0.5;
}


.word-buttons {
    display: flex;
    max-width: 500px;
    margin: auto;
}

.word-button {
    display: flex;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 1em;
    background-color: grey;
    color: white;
    margin: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex: 2;
}

.word-button-center {
    flex: 1;
}

.word-button:hover {
    background-color: #777;
}

.word-button:active {
    background-color: #666;
}

.word-button:disabled {
    color: grey;
    background-color: #555;
    cursor: revert;
}


.word-notifications {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.word-notifications>p {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    text-align: left;
    margin-top: 0px;
}